<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  
<nav class="navbar " style="background-color:white">
  <div class="container-fluid" >
    <div class="navbar-header">
      <!-- <a class="navbar-brand" href="{% url 'well' %}" style="font-family: inherit" >Instagram</a> -->
      <a href="/">
        <img src="">
      </a>
    </div>
  </div>

  <!-- <p style="padding:left"><span class="glyphicon glyphicon-user"></span></p>     -->
 
  <!--The search form above-->
  <div class="col-sm-6 col-md-6">
    </div>
    {% if user.is_authenticated %}
    <!-- <ul>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Account
                  <span class="caret"></span>
              </a>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a href="{% url 'well' %}">Home</a>
          </li>
         
          <li>
            <a href="/accounts/password/change">Change Password</a>
          </li>

          <li>
            <a href="/logout">Logout</a>
          </li>
        </ul>
      </li>
    </ul> -->
    {% else %}
    <li>
      <a class='btn btn-default' href="/accounts/login">Login</a>
    </li>

    {% endif %}
  </div>
  
</nav>
</body>
</html>
